{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% trans "Shop" %} {% endblock  %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=3.0">
</head>
<body>
    <header class="header">
        <div class="container-header">
            <a href="/" class="logo"> 
                <img src="{% static 'img/logo.png' %}" alt="">
            </a>
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <div class="languages">
                <p> {% trans "Languages" %}:</p>
                <ul class="languages">
                    {% for language in languages %}
                        <li>
                            <a href="/{{language.code}}/"
                            {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                            {{ language.name_local }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="cart-main">
                {% with total_items=cart|length %}
                    {% if total_items > 0 %}
                        <a href = "{%url 'cart:cart_detail' %}"class="cart_btn">
                            {% blocktrans with total=cart.get_total_price count items=total_items %}
                                {{ items }} item, ${{ total }}
                            {% plural %}
                                {{ items }} items, ${{ total }}
                            {% endblocktrans %}
                        </a> 
                    {% elif not order %}
                        {% trans "Cart is empty." %} 
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </header>
    <div id="content">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>